@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Nunito", system-ui;
	font-size: 20px;
}
body {
    width: 100%;  /* Adaptable a cualquier pantalla */
    margin: 0 auto;
    background-color: #04171b ;
	overflow-x: hidden;
}

.header {
    background-color: rgba(4, 23, 27, 0.87); /* Fondo negro con 87% de opacidad */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    padding: 5px 1%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/*logo*/
.header .logo{
	
	cursor: pointer;
	margin-right: auto;
}

.header .logo img{
	
	height: 65px;
	width: auto;
	transition: all 0.3s;
	filter: brightness(125%);
	
}

.header .logo img:hover{
	
	transform: scale(1.05);
}
/*letras del nav*/
.header .nav-links{
	
	list-style: none;
}

.header .nav-links li{
	
	display: inline-block;
	padding: 0 20px;
}

.header .nav-links li:hover,
.overlay a:hover{
	
	transform: scale(1.1);
}

.header .nav-links a {
    font-weight: 700;  /* Cambia el grosor de la fuente */
    font-size: 18px;  /* Ajusta el tamaño del texto */
    color: white;
}


.header .nav-links li a:hover{
	
	color: #FFBC0E
}

.menu{
	display: none;
}

.header .btn button,
.header .menu button{
	margin-left: 20px;
	font-weight: 700;
	color: #1B3039;
	padding: 9px 25px;
	background: aqua;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	
	
}

.header .btn button:hover,
.header .menu button:hover{
	
	background-color: #e2f1f8;
	color: #FFBC0E;
	transform: scale(1.1);
}

@media screen and (max-width: 900px) {
	.nav-links, .btn {
		display: none;
	}
	.menu {
		display: inherit;	}
}

/*Nav*/
.header a{
	text-decoration: none
}

/* Estilo del overlay cuando el menú está abierto */
.header .overlay {
    height: 100%;
    width: 0; /* Por defecto está cerrado */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(33,49,63,.95); /* Fondo oscuro semitransparente */
    overflow-x: hidden;
    transition: width 0.5s ease; /* Transición suave al abrir/cerrar */
}

/* El contenido del menú */
.header .overlay .overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Enlaces del menú móvil */
.header .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    font-weight: 700;
    color: #eceff1;
    transition: all 0.3s ease 0s;
}

/* Botón de cerrar */
.header .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px){
	.header .overlaya{
		font-size: 20px;
		top: 15px;
		
		
	}
	.header .overlay .close{
		font-size: 40px;
		top: 15px;
		right: 35px;
		
		
	}
}


/*Bienvenido*/
#cont {
	
	position:relative;
	
	
}
#enc_prinBienvenido h1{
	
	width: 1060px;
	color:white;
	font-family: Bahnschrift;
	font-size:90px;
}
#enc_prinBienvenido h5{
	
	font-family: Arial Narrow;
	color: white;
	width: 550px;
	
}
.img_principal {
    width: 100%;
    height: 900px; 
    object-fit: cover; /* Mantiene la proporción de la imagen */
	filter: brightness(60%);
}

.img_secundario {
    width: 35%;
    height: auto; 
    position: absolute;
    top: 9%;
    left: 56%;
    filter: brightness(81%);
}
.flotante {
	position:absolute;
	width:100%;
	height:150px;
	top:25%;
	left:7%
}

@media (max-width: 900px) {
    .img_secundario {
        width: 50%;  /* Reducir tamaño en pantallas pequeñas */
        left: 25%;
    }
	.flotante {
        left: 20%; /* Ajuste para pantallas pequeñas */
    }
	
}


h2{
	color: white;
}

/* Botones principales en la página */
.btn-primary {
    display: inline-block;
    padding: 12px 24px;
    background-color: #FFBC0E;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
    background-color: #e2a90d;
    transform: scale(1.05);
}


/*Secciones*/


@media (max-width: 900px) {
    #uno, #dos, #tres, #cuatro, #cinco {
        padding: 30px 10px;  /* Reducir el padding en pantallas pequeñas */
    }
}
		/*Seccion - 1*/

#uno {
    background-color: #162828;  /* Fondo oscuro minimalista */
    padding: 100px 20px;  /* Espacio superior e inferior amplio para resaltar el contenido */
    text-align: center;
    position: relative;
	animation: fadeIn 2s ease-in-out;
	
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/* Estilo para las líneas o bordes geométricos */
#uno:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
    background-color: #FFBC0E;  /* Color amarillo */
}

#uno:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
    background-color: #FFBC0E;  /* Color amarillo */
}

/* Estilo del texto */
#enc_prin1 h1 {
    font-size: 48px;
    color: white;
    margin-bottom: 20px;
}

#enc_prin1 p {
    font-size: 18px;
    color: #ccc;
    max-width: 600px;
    margin: 0 auto;
}

/* Estilo del botón */
.btn-primary {
    display: inline-block;
    padding: 12px 24px;
    background-color: #FFBC0E;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: background-color 0.5s ease, transform 0.3s ease;
    margin-top: 30px;
}

.btn-primary:hover {
    background-color: #e2a90d;
    transform: scale(1.05);
}


		/*Seccion - 2*/
/* Contenedor de la sección 2 */
#dos {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: auto;
}

.cont_dos {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* Imagen en la mitad izquierda */
#img_prin2 {
    flex: 1;
    width: 100%;  /* Ancho completo en pantallas grandes */
    max-width: 750px;  /* Tamaño máximo para la imagen */
}

.img_dos {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Logo en la mitad derecha */
#enc_prin2 {
    flex: 1;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-enc-prin2 {
    width: 60%;
    max-width: 300px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Media query para pantallas pequeñas */
@media (max-width: 900px) {
    #dos {
        flex-direction: column; /* Apilar imagen y texto verticalmente */
        padding: 20px;
    }

    #img_prin2, #enc_prin2 {
        flex: none;
        width: 100%;  /* Ancho completo en pantallas pequeñas */
        max-width: none;  /* Eliminar el tamaño máximo en pantallas pequeñas */
    }

    .img_dos {
        height: auto;  /* Ajuste automático de la altura en pantallas pequeñas */
    }

    .cont_dos {
        flex-direction: column;
        align-items: center; /* Centra el contenido en pantallas pequeñas */
    }

    #enc_prin2 {
        padding: 20px;
        text-align: center; /* Centrar el texto para pantallas pequeñas */
    }

    .logo-enc-prin2 {
        width: 80%; /* Aumentar el tamaño del logo en pantallas pequeñas */
        max-width: 200px;
    }
}


		/*Seccion - 3*/
/* Contenedor de servicios */
#services {
    padding: 120px 20px;
    background-color: #1b3039;
}

#services h1 {
    text-align: center;
    font-size: 36px;
    color: #ffbc0e;
    margin-bottom: 40px;
}


.container {
    display: grid; /* Activa el modo grilla */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas por fila */
    gap: 20px; /* Espaciado entre elementos */
    padding: 20px;
}

/* Caja de cada servicio */
.service-box {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Estilos para las imágenes del servicio */
.service-image {
    position: relative;  /* Posicionamiento relativo para contener el texto */
    margin-bottom: 20px;
	
}

.service-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

/* Texto sobre la imagen */
.service-text {
    position: absolute;
	bottom: 0;
	box-sizing: border-box;
    width: 100%;
    padding: 10px ;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
    text-align: center;
	border-radius: 8px;
}

.service-text h2 {
    margin: 0;
}
.service-box p {
    font-size: 14px;
    color: #555;
    padding: 15px;
    margin: 0;
    line-height: 1.6;
}

/* Efecto hover en el texto */
.service-item:hover .service-text {
    background-color: rgba(0, 0, 0, 0.8); /* Oscurecer un poco más el fondo del texto */
}

/* Adaptación para pantallas pequeñas */
@media (max-width: 900px) {
    .service-item {
        width: 48%;  /* Dos servicios por fila en pantallas medianas */
    }

    #enc_prin2, #img_prin2 {
        flex: none;
        width: 100%;  /* En pantallas pequeñas, imagen y texto se apilan */
    }

    .img_dos {
        height: auto;  /* Dejar que la altura de la imagen se ajuste automáticamente */
    }
	.container {
        grid-template-columns: 1fr; /* 1 columna en móviles */
    }
}


@media (max-width: 480px) {
    .service-item {
        width: 100%;  /* Un solo servicio por fila en pantallas muy pequeñas */
    }

    .img_secundario {
        width: 50%;  /* Ajustar el tamaño de la imagen secundaria en pantallas pequeñas */
    }
}



		/*Seccion - 4*/
/* Sección de contacto */
#cuatro {
    background-color: #162828;
    padding: 100px 20px;
    color: white;
    text-align: center;
	display: flex;

}
#cuatro:before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
    background-color: #FFBC0E;  /* Color amarillo */
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
}

.contact-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #FFBC0E;
}

.contact-container p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #ddd;
}

/* Estilo del formulario */
.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: #1b3039;
    color: white;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #ccc;
}

/* Estilo del botón de envío */
.btn-primary {
    padding: 15px 30px;
    background-color: #FFBC0E;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
    background-color: #e2a90d;
    transform: scale(1.05);
}

/* Responsividad del formulario */
@media (max-width: 900px) {
    .contact-container {
        padding: 0 20px;
    }
}


		/*Seccion - 5*/
#cinco {
	
	display: flex;
	background-color: white;
	justify-content: space-around;
}
.circulo_1, .circulo_2, .circulo_3, .circulo_4 {
	
	width:100px;
	height:100px;
	border-bottom: 33px;
	
}

  /*Footer*/
/* Estilos generales del footer */
footer {
    background-color: #1b3039;
    color: white;
    padding: 40px 0;
    font-family: 'Nunito', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
}

/* Columnas del footer */
.footer-column {
    flex: 1;
    margin: 10px 20px;
    min-width: 200px;
}

.footer-column h3 {
    color: #ffbc0e;
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: aqua;
}

/* Información del pie */
.footer-bottom {
    background-color: #162229;
    text-align: center;
    padding: 20px;
    color: #ffffff;
    font-size: 14px;
    border-top: 1px solid #333;
}

.footer-bottom p {
    margin: 0;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 900px) {
    .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
   }

.footer-column {
    flex: 1;
    margin: 10px 20px;
    min-width: 250px;  /* Ajusta el tamaño mínimo de las columnas */
   }
 .footer-column .social-icons {
        justify-content: center;
    }
}

